nav.navbar {
  font-size: 110%;
}

.bg-dark {
  background-color: transparent !important;
  color: #fff;
}

a.navbar-brand {
  font-weight: 200;
}

a.navbar-brand span {
  font-weight: 400;
}

a.nav-link i {
  margin-left: 7px;
}
