nav.navbar {
  font-size: 110%;
}

.bg-dark {
  background-color: transparent !important;
  color: #fff;
}

a.navbar-brand {
  font-weight: 200;
}

a.navbar-brand span {
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
