.media-box {
  max-width: 100%;
  border: 3px solid #fff;
  border-radius: 5px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.image-box img {
  width: 100%;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #d4ff32 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
